<div class="mx-auto shadow w-50 mt-5 election-list p-2">
    <a href="/elections/" class="btn btn-success">Return</a>
    <h6 class="mt-2 error"></h6>
    <form id="logInForm" class="d-flex flex-column align-items-center mt-4">
        <div class="form-group w-75">
            <label for="exampleInputText" id="nameLabel">Name: {{name}}</label>
        </div>
        <div class="form-group w-75">
            <label for="exampleInputText" id="yearLabel">Year: {{year}}</label>
        </div>
        <div class="form-group w-75">
            <label for="exampleInputNominees">Nominees:</label>
            <ul>
                {{#each nominees}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
        <div class="form-group w-75">
            <label for="exampleInputNominees">Deadline:</label>
            <input id="datepicker" width="276" value="{{deadline}}" />

        </div>
        <button type="button" class="btn btn-primary" id="getResult">Submit</button>
    </form>
</div>

<script>
    $(document).ready(function () {
        var inputIndex = 2;
        let currentDeadline = $("#datepicker").val();
        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap4',
            format: 'd/m/yyyy',
            minDate: currentDeadline,
        });

        $("#getResult").click((event) => {
            let nameLabel = $("#nameLabel").text();
            let name = nameLabel.substring(nameLabel.indexOf(" ") + 1);

            let yearLabel = $("#yearLabel").text();
            let year = yearLabel.substring(yearLabel.indexOf(" ") + 1);

            let newDeadline = $("#datepicker").val();
            if (newDeadline === "") {
                warning("Deadline must not be empty");
                return;
            }
            if (currentDeadline === newDeadline) {
                warning("Deadline must be new");
                return
            }

            $.ajax({
                url: "/elections/extent",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify({ year, name, deadline: newDeadline }),
                success: function (data) {
                    if (data.status !== 200) {
                        warning(data.msg);
                    } else {
                        window.location.replace("/elections");
                    }
                },
                error: function () {
                    warning("error");
                }
            });
        });

        const warning = (msg) => {
            console.log(msg);
            $(".error").text(`*${msg}*`);
        }
    })
</script>