.election-list {
  background-color: white;
  min-height: 100px;
}

body {
  background-color: #d8dde0;
  position: relative;
}

.error {
  color: red;
}

.datepicker-dropdown {
  top: 0;
  left: 0;
  padding: 4px;
  background-color: #2c6e8e;
  border-radius: 10px;
}

.datepicker table tr td,
.datepicker table tr th {
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  border: none;
  color: #ffffff;
}

.datepicker table tr td.day:hover,
.datepicker table tr td.focused {
  background: #555555;
  cursor: pointer;
}

.datepicker table tr td.old,
.datepicker table tr td.new {
  color: #ff8000;
}

.datepicker table tr td.today {
  color: #000000;
  background-color: #ffa953;
  border-color: #ffb76f;
}

.datepicker table tr td.today:hover {
  color: #ffffff;
  background-color: #884400;
  border-color: #f59e00;
}

.datepicker .datepicker-switch {
  width: 145px;
}

.datepicker .datepicker-switch:hover,
.datepicker .prev:hover,
.datepicker .next:hover,
.datepicker tfoot tr th:hover {
  background: #50a2c9;
}
