.img-background {
  width: 69.5%;
  height: auto;
  position: absolute;
  z-index: -1;
}

body {
  background-color: #d8dde0;
  position: relative;
}

.card {
  width: 35%;
  height: 600px;
}

.error {
  color: red;
}
